### JetBrains ###
.idea/

# CMake
cmake-build-*/
build/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# vscode stuff
.vscode/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.tar

# End of gitignore
